<launch>
  <arg name="input" default="points" />

  <!-- launch the kinect -->
  <include file="$(find openni_launch)/launch/openni.launch"/>

  <!-- launch the nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen"/>  

  <!-- voxel downsampling, and transformation -->
  <group ns="/cloud_downsampler">
    <node pkg="nodelet" type="nodelet" name="voxel" args="load pcl/VoxelGrid /pcl_manager" output="screen">  
      <remap from="~input" to="/camera/depth/$(arg input)" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: 0
        filter_limit_max: 2.4
        fiter_limit_negative: True
        leaf_size: 0.0075
        output_frame: /camera_depth_optical_frame
      </rosparam>
    </node>
  </group>
  
  <!-- pass-through filtering for the mass:-->  
  <group ns="/box_filter">
    <!-- Run a passthrough filter to delimit in x direction -->
    <node pkg="nodelet" type="nodelet" name="psx" args="load pcl/PassThrough /pcl_manager" output="screen">
      <remap from="~input" to="/cloud_downsampler/voxel/output" />
      <rosparam>
        filter_field_name: x
        filter_limit_min: -0.7
        filter_limit_max: 0.6
      </rosparam>
    </node>
    <!-- Run a passthrough filter to delimit in y direction -->
    <node pkg="nodelet" type="nodelet" name="psy" args="load pcl/PassThrough /pcl_manager" output="screen">
      <remap from="~input" to="psx/output" />
      <rosparam>
        filter_field_name: y
        filter_limit_min: -5.0
        filter_limit_max: 5.0
      </rosparam>
    </node>
  </group>
 
  <!-- tracker node -->
  <node pkg="quad_track" type="quad_track"
  	name="quad_tracking_node" output="screen" respawn="true"/> 

  <param name="robot_description" command="cat $(find quad_track)/quadmodel.xml" />
  <node name="rviz" pkg="rviz" type="rviz" />
  <param name="joy_node/coalesce_interval" value="0.025" />
  <node name="joy_node" pkg="joy" type="joy_node" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="Pic_Serial" pkg="quad_track" type="pic_serial.py" output="screen"/>


</launch>
